@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Suez+One&display=swap');

/* header and background */
.App{
  text-align: center;   
  background-image: url("https://i.pinimg.com/originals/e9/f0/5b/e9f05ba4769d71862b6349a19bfb8a39.png") ;
  opacity:0.75; 
  background-size: cover;
  min-height: 100%;
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
}



.App .logo{
 width:50%;
 height:40%; 
 margin-top: -7%;
 margin-bottom: -8%;
}

.App hr{ 
  border: 0;
  width: 80%;
  color:purple;
  background-color:purple; 
  height: 3px;
}
 


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* playlist-styling */
.App h1{
  font-family: 'Suez One', serif;
  text-align: left;
  margin-left:10%; 
  font-size:25px; 
}

.playlist article{
  display: flex;
  margin: 10%;
  padding: 1em;
  border: 2px black solid;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(0,0,0,0.23012955182072825) 0%, rgba(93,93,93,1) 50%, rgba(0,0,0,0.20211834733893552) 100%);
  justify-content: space-between;
  box-shadow: 0 0px 10px 2px gray;

}
.playlist article p {
  font-size: 10px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
}

.playlist article button {
  height: fit-content;
}

/* favorite line styling */ 
div .songLine {
    display: flex;
    margin: 10%;
    padding: 1em;
    border: 2px black solid;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0,0,0,0.23012955182072825) 0%, rgba(93,93,93,1) 50%, rgba(0,0,0,0.20211834733893552) 100%);
    justify-content: space-between;
    box-shadow: 0 0px 10px 2px gray;
}
    /* &:hover
        box-shadow: 0 0px 80px 10px red */

div .songLine p {
  font-size: 10px;
        color: white;
        text-align: center;
        text-shadow: 2px 2px black;
}

.songLinks 
    text-decoration: none

/* favorite styling */
.Stephanie {
  display: flex;
  margin: 1em;
  padding: 1em;
  border: 2px black solid;
  border-radius: 20px;
  justify-content: space-between;
}

/* form styling */
.form{
  text-align:left; 
  margin-left:10%; 
}
.form h2{
  font-family: 'Arvo', serif;
  font-size:25px;
}

.form p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.form h1{
  font-family: 'Suez One', serif;
  text-align:left; 
  margin-left:10%; 
}

.form input{ 
  width:90%; 
  height:25px; 
  margin: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
