@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Suez+One&display=swap');

/* header and background */
.App{
  text-align: center;   
  background-image: url("https://i.pinimg.com/originals/e9/f0/5b/e9f05ba4769d71862b6349a19bfb8a39.png") ;
  opacity:0.75; 
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}



.App .logo{
 width:50%;
 height:40%; 
 margin-top: -7%;
 margin-bottom: -8%;
}

.App hr{ 
  border: 0;
  width: 80%;
  color:purple;
  background-color:purple; 
  height: 3px;
}
 


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* playlist-styling */
.App h1{
  font-family: 'Suez One', serif;
  text-align: left;
  margin-left:10%; 
  font-size:25px; 
}

.playlist article{
  margin-left:10%; 
  margin-right:10%; 
  display:flex; 
  justify-content: space-between;
  font-weight: bold;
}
/* favorite styling */
.Stephanie{
  display: flex;
  margin: 1em;
  padding: 1em;
  border: 2px black solid;
  border-radius: 20px;
 
  justify-content: space-between;

}

/* form styling */
.form{
  text-align:left; 
  margin-left:10%; 
}
.form h2{
  font-family: 'Arvo', serif;
  font-size:25px;
}

.form p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.form h1{
  font-family: 'Suez One', serif;
  text-align:left; 
  margin-left:10%; 
}

.form input{ 
  width:90%; 
  height:25px; 
  margin: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
